* {max-width: 100%; padding: 0; margin: 0; box-sizing: border-box;}

body {
	font-family: 'Literata', serif,'Exo', sans-serif;
	font-size: 16px;
}

p {
	font-family: Times, "Times New Roman", "serif";
}

a {
	color: #fff;
	text-align: left;
	text-decoration: none;
}
ul {
	list-style: none;
}
li {
	text-align: left;
	text-decoration: none;
}
h1 {
	font-family: 'Literata';
	font-style: italic;
	font-size: 2.5em;
	padding: .5em 0;
	color: #ffd200;
	font-weight: 90;
}
h3 {
	text-align: left;
}
h3 a:hover {
	text-decoration: underline;
}
h4 {
	font-family: 'Crimson Text', serif;
	font-size: 1.5em;
	font-weight: 100;
}
h5 {
	font-family: 'Crimson Text', serif;
	font-size: 1.1em;
	font-weight: 100;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

/* UO Header */

.siteheader_logo {
	padding: 0.2em 0;
	float: left;
}
.uolinks {
	display: inline;
	float: right;
	padding-top: .5em;
}
.uolinks a {
	font-size: 1.2em;
	color: white;
	padding: 1em;
}

/* Div Background */

.darkgreen {
	  background-color: #104735;
}
.lightgreen {
	background-color: #007049;
}
.lightbrown {
	background-color: #f2f5dd;
}

/* CPFM Header Nav */

.nav1 {
	
	margin: 0;
	padding: 0;
	line-height: 1em;
	overflow: hidden;
	width: 100%;
}
.nav1 li, .nav1 a {	
	display:inline-block;
}
.nav1 li {
	list-style-type: none;
	border-left: 1px solid #375C38;
}
.nav1 li:last-child {
	border-right: 1px solid #375C38;
}
.nav1 > li {
	margin-left: .25em;
}
.nav1 > li:first-child {
	margin-left: 0;
}
.nav1 a {
	padding: 1em;
	text-decoration: none;
	height: 3.25em;
	font-size: 1em;
	color: #104735;
}
.nav1 a:hover {
	background-color: #9D9D9D;
}


/* CPFM Links and Article */

.uebody {
	margin-top: 3em;
	margin-bottom: 3em;
}
.uenav2 {
	width: 30%;
	background-color: #f2f5dd;
	float: left;
	padding: 2em;	
}
.uenav2 a {
	line-height: 2.5em;
	font-size: 1em;
	color: #104735;
	text-decoration: none;
	padding: .25em 0;
}
.uenav2 li {
	border-bottom: 1px dotted silver;
}
.uenav2 li:last-child {
	border-bottom: none;
}
.uenav2 li a:hover {
	background-color: #87A884;
}
#article {
	width: 67%;
	float: right;
	margin-left: 2%;
}
#article p {
	font-size: 1.15em;
	margin: 1em 0;
}
#articlestrong {
	margin: 1em 0;
	font-size: 1.5em;
}
#article li {
	margin-left: 2em;
	font-size: 1em;
}
#article img {
	margin: 3em 0 3em 4em;
}


/* Footer */
#footerbody {
	background-color: #2F2F2F;
	margin-bottom: 2em;
}
.footernav {
	width: 23%;
	color: white;
	float: left;
	margin: 2em 0;
}
.footernavlast {
	width: 31%;
	color: white;
	float: left;
	margin: 2em 0;
}
.footernav li {
	line-height: 2rem;
	
}
.footernav a {
	font-size: .9rem;
	font-weight: 100;
}
.footernav a:hover {
	background-color: #C4BEBE;
}
.footernavlast address {
	font-style: normal;
	font-size: .9em;
	margin: 1em 0 0 0;
}
.footernavlast p {
	margin: 1em 0;
}
.footernavlast a:hover {
	color: #BEC31F;
}


@media only screen and (max-width: 975px) {
	h1 {
			font-size: 20px;
		}
	h2, h3, h4, h5 {
		font-size: 16px;
	}
	.uolinks, .nav1, .uenav2 {
		font-size: 12px;
	}
	.uolinks a {
		padding: .5em;
		width: 100%;
	}
	.uenav2 a {
		padding: .5em;
	}
	#article h2 {
		font-size: 12px;
	}
	#article h4 {
		font-size: 12px;
	}
	#article p {
			font-size: 12px;
	}
	#article li {
		font-size: 12px;
	}
	#articlestrong {
		font-size: 13px;
	}
	.footernav {	
		display: block;
		width: auto;
		margin-right: 2em;
	}
	.footernav a {
		font-size: .65rem;
		padding: .5em;
	}
	.footernavlast {
		font-size: .65rem;
	}
}
@media only screen and (max-width: 725px) {
	.uolinks {
		float: right;
	}
	.uolinks a {
		padding: 0.5;
		margin: 0em;
	}
	#article {
		display: none;
	}
	
	
	.nav1 a {
		float: none;
		display: block;
		font-size: 12px;
		border: none;
		margin: 1em 0em;
		width: inherit;
	}
	.nav1 li a:hover {
		background-color: #9D9D9D;
	}
	.nav1 a:last-child {
		border: none;
	}
	.uenav2 {
		display: block;
		width: 100%;
		font-size: 1.05em;
	}
	
}
@media only screen and (max-width: 660px) {
	.uolinks a {
		display: block;
	}
	#article {
		display: none;
	}
	.footernav {
		float: none;
	}
}