.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
#slogan {
  color: #A64636;
  font-size: 18px;
  text-align: center;
}
#imgbig {
  width: 900px;
  position: center;
}
.firstheader{
  text-align: center;
  color: #000000;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.module {
  align-items: all;
  
}
h1 {
  color: #000000;
  font-size: 32px
}
.heading1 {
  color: #000000;
}
h2 {
  color: ##A64636;
  font-size: 20px;
}
.heading2 {
  color: #A64636;
}

h3 {
  color: ##703121;
  font-size: 18px;
  font-style: italic;
}
ul {
  list-style-type: none;
  text-align: left;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
.indent {
  text-indent: 1px;
  padding-right: 10px;
}
.item1 {
  grid-column: 1 / span 7;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 7;
  grid-row: 2;
}
.item3 {
  grid-column: 1;
  grid-row: 3;
  font-size: 21px;
}
.item4 {
  grid-column: 2;
  grid-row: 3;
  font-size: 21px;
}
.item5 {
  grid-column: 3;
  grid-row: 3;
  font-size: 21px;
}
.item6 {
  grid-column: 4;
  grid-row: 3;
  font-size: 21px;
}
.item7 {
  grid-column: 5;
  grid-row: 3;
  font-size: 21px;
}
.item8 {
  grid-column: 6;
  grid-row: 3;
  font-size: 21px;
}
.item9 {
  grid-column: 1 / span 2;
  grid-row: 4;
}
.item10 {
  grid-column: 3 / span 7;
  grid-row: 4 / span 3;
}
.item11 {
  grid-column: 1 / span 7;
  grid-row: 8;
  font-size: 16px;
}